@model IEnumerable<MicroCms.ContentItem>

@{
    ViewBag.Title = "Content";
}

<h2>Content</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.RenderItem(item);
}

</table>
