@model IEnumerable<MicroCms.ContentItem>

@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.RenderCms(item);
}

</table>
